.container{
    width:100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
    background-color:white;
    height:130px;
    margin-bottom: 50px;
    
}


.search_input{
    width:85%;
    height:45px;
    border: 2px solid #ea9999ff; 
    border-radius:5px;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    outline: 'none' ;
    padding:0 10px;
    font-size: 16px;
    
}
.search_input:focus {
    border: 2px solid #ea9999ff; 
    outline: none; 
}
.search_input::placeholder{
    color: #999999ff;
    font-size: 16px;
    font-weight: 600;
}

.date_bar{
    width: 100px;
    border: 1px solid #efefefff;
    text-align: center;
    align-content: center;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #4f4f4fff;
}
.date_bar:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.dialog_background{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.113); /* 半透明的黑色背景 */
    z-index: 1000; 

}
.dialog{
    width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    margin: 145px auto;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.duration_dialog{
    width: 350px;
    height: 150px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin: 145px auto;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

