.container{
    width:100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
    background-color:white;
    height:130px;
    margin-bottom: 50px;
    
}


.search_input{
    width:85%;
    height:45px;
    border: 2px solid #ea9999ff; 
    border-radius:5px;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    outline: 'none' ;
    padding:0 10px;
    font-size: 16px;
    
}
.search_input:focus {
    border: 2px solid #ea9999ff; 
    outline: none; 
}
.search_input::placeholder{
    color: #999999ff;
    font-size: 16px;
    font-weight: 600;
}

.date_bar{
    width: 100px;
    border: 1px solid #efefefff;
    text-align: center;
    align-content: center;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #4f4f4fff;
}
.date_bar:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}