.container{
  position: relative;
  height: 100vh;
}

.container_image{
  width:100%;
  height:100vh;
  object-position: 50% 50%;
  object-fit: fill;
  vertical-align:middle;

}

.container_text{
  position: absolute;
  top: 40%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}


.name{
  font-size: 50px;
  font-weight: 600;
  color:#ff4757;
  text-shadow: 2px 2px 4px #ffffffff;
  letter-spacing:7px;
}

.animatedText {

  font-size:35px;
  font-weight:900;
  color:#ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
  margin-top: 15px;


}

/*按鈕效果*/
.container_button{
  width:120px;
  font-size:18px;
  margin-top:65px;
  height:50px;
  border:none;
  background-color:#ff4757;
  color:white;
  font-weight:700;
  border-radius:5px;
  cursor:pointer;
  position: relative;
  overflow: hidden;
  
  
}

.container_button::after{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  opacity: 0;
 
 
}
.container_button:hover::after{
  opacity: 0.1;
}


.google_image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@media(max-width:1000px){
  .animatedText {
    font-size: 28px; 
    text-align: center; 
  }
  .name{
    font-size: 40px;
  }



}

@media (max-width:600px) {
  .animatedText {
    font-size: 25px; 
    text-align: center; 
  }
  .name{
    font-size: 35px;
  }
  .container_button{
    width: 100px;
    font-size:16px;
    height: 45px;
  }
}

@media (max-width:400px) {
  .animatedText {
    font-size: 20px; 
    text-align: center; 
  }
  .name{
    font-size: 30px;
  }
  .container_button{
    width: 90px;
    font-size:12px;
    height: 40px;
  }
}